# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# python compiled modules
*.pyc

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.pyd

# Executables
*.exe
*.out
*.app

debug/
build/
build-win32/
build-win64/
build-*/

node_modules/
data/

data/mnist
data/kgsgo
data/norb
data/cifar10

# vi
*.swp

# PyClConvolve
dist/
*.egg-info/
PyClConvolve/OpenCLHelper/
PyClConvolve/src/
PyClConvolve/qlearning/
python/OpenCLHelper/
python/src/
python/qlearning/

