[submodule "EasyCL"]
	path = EasyCL
	url = https://github.com/hughperkins/EasyCL.git
[submodule "clMathLibraries/clBLAS"]
	path = clMathLibraries/clBLAS
	url = https://github.com/hughperkins/clBLAS.git
